<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <header>
    <title>Demo: AdWords API on App Engine</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/styles.css"/>
{% block script_src %}
{% endblock %}
  </header>
  <body>
    <div id="top">
{% block top %}
      Sign out <a href="{{ logout_url }}">{{ user_nickname }}</a>
{% endblock %}
    </div>
{% if error %}
  <div id="error">
    <p class="error">Error: {{ error }}</p>
  </div>
{% endif %}
    <div id="content">
{% block content %}
{% endblock %}
    </div>
    <div id="bottom">
{% block bottom %}
      <a href="{{ back_url }}">{{ back_msg }}</a>
{% endblock %}
    </div>
{% block script %}
{% endblock %}
  </body>
</html>
