{% extends "toggle_menu_template.html" %}
{% block content %}
  {% if campaigns %}
  <table class="response_view">
    <tr class="fields">
      <td>Id</td>
      <td>Name</td>
      <td>Status</td>
      <td>BudgetId</td>
      <td>Amount</td>
    </tr>
    {% for campaign in campaigns %}
    <tr>
      <td>{{ campaign.id }}</td>
      <td><a href="/showAdGroups?clientCustomerId={{ ccid }}&campaignId={{ campaign.id }}">{{ campaign.name }}</a></td>
      <td>{{ campaign.status }}</td>
      <td><a href="/showBudget?clientCustomerId={{ ccid }}&budgetId={{ campaign.budget.budgetId }}">{{ campaign.budget.budgetId }}</a></td>
      <td>{{ campaign.budget.amount.microAmount }}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p>No Campaigns found.</p>
  {% endif %}
  <br/><br/><br/>
  <form id="menu" class="hidden" method="post"
        action="/addCampaign?clientCustomerId={{ ccid }}">
    <table class="modify_view">
      <tr>
        <th><label for="campaignName">Campaign Name: </label></th>
         <td><input type="text" name="campaignName" size="35"/></td>
      </tr>
      <tr>
        <th><label for="budget">Budget (micros): </label></th>
        <td><input type="text" name="budget" size="35"/></td>
      </tr>
      <tr>
        <th>
          <label for=adChannelType">Advertising Channel Type:</label>
        </th>
        <td>
          <label>
            <input type="radio" name="adChannelType" value="SEARCH">
            Search
          </label>
          <label>
            <input type="radio" name="adChannelType" value="DISPLAY">
            Display
          </label>
        </td>
      </tr>
      <tr>
        <th>
          <label for=status">Status:</label>
        </th>
        <td>
          <label>
            <input type="radio" name="status" value="ENABLED">
            Enabled
          </label>
          <label>
            <input type="radio" name="status" value="PAUSED">
            Paused
          </label>
        </td>
      </tr>
      <tr align="right">
        <td colspan="2">
          <input type="submit" value="Add Campaign"/>
        </td>
      </tr>
    </table>
  </form>
  <button id="showMenuButton" type="button" style="cursor:pointer;">
    Add Campaign
  </button>
{% endblock %}