{% extends "toggle_menu_template.html" %}
{% block content %}
  {% if budget %}
  <table class="response_view">
    <tr class="fields">
      <td>Id</td>
      <td>Name</td>
      <td>Status</td>
      <td>Amount</td>
      <td>Delivery Method</td>
      <td>Reference Count</td>
      <td>IsExplicitlyShared</td>
    </tr>
    <tr>
      <td>{{ budget.budgetId }}</td>
      <td>{{ budget.name }}</td>
      <td>{{ budget.status }}</td>
      <td>{{ budget.amount.microAmount}}</td>
      <td>{{ budget.deliveryMethod }}</td>
      <td>{{ budget.referenceCount }}</td>
      <td>{{ budget.isExplicitlyShared }}</td>
    </tr>
  </table>
  {% else %}
  <p>No Budget found.</p>
  {% endif %}
  <br/><br/><br/>
  <form action="/updateBudget?clientCustomerId={{ ccid }}&budgetId={{ budget.budgetId }}"
        method="post" id="menu" class="hidden">
    <table class="modify_view">
      <tr>
        <th><label for="microAmount">Micro Amount: </label></th>
        <td><input type="text" name="microAmount" size="35"/></td>
      </tr>
      <tr>
        <th><label for="delivery">Delivery Method:</label></th>
        <td>
          <label>
            <input type="radio" name="delivery" value="STANDARD">
            Standard
          </label>
          <label>
            <input type="radio" name="delivery" value="ACCELERATED">
            Accelerated
          </label>
        </td>
      </tr>
      <tr align="right">
        <td colspan="2">
          <input type="submit" value="Update Budget"/>
        </td>
      </tr>
    </table>
  </form>
  <button id="showMenuButton" type="button" style="cursor:pointer;">
    Update Budget
  </button>
{% endblock %}